# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ignore environment settings
.env
*.env

# Ignore Django migrations
*/migrations/*
!*/migrations/__init__.py

# Ignore pyproject.toml compiled lock file (poetry or pipenv)
poetry.lock
Pipfile.lock

# Ignore local virtual environments
venv/
.venv/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Test output
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.cache/
*.cover
pytestdebug.log

# Ignore all compiled Python files
*.pyc
*.pyo
